{% load staticfiles %}
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="containere">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form method="POST">
                <h2 class="text-center bg-dark text-white">Login Here...</h2>
                {% csrf_token %}
                {{ lform}}<br>
                <center>
                    <input type="submit" value="login" class="btn btn-success">
                    <input typpe="reset" value="clear" class="btn btn-danger"><br>
                    <a href="/registration/">New User ?</a>
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>